<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="text" ng-model="sessionMain.session.email" class="form-control" id="email" placeholder="Email"/>
  </div>
</div>
<div class="form-group">
  <label for="year" class="col-sm-2 control-label">Password</label>
  <div class="col-sm-10">
    <input type="text" ng-model="sessionMain.session.password" class="form-control" id="password" placeholder="Password"/>
  </div>
</div>
<div class="form-group">
  <label for="director" class="col-sm-2 control-label">Remember Me</label>
  <div class="col-sm-10">
    <div class="material-switch pull-right">
        <input ng-model="sessionMain.session.rememberMe" id="rememberMe" name="rememberMe" type="checkbox"/>
        <label for="rememberMe" class="label-primary"></label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/> &nbsp; 
    <input type="button" class="btn btn-primary" value="Http Save" ng-click="sessionMain.httpSave()"/> &nbsp; 
    <input type="button" class="btn btn-primary" value="Http Get" ng-click="sessionMain.httpGet()"/>
  </div>
</div>